@mixin box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@mixin button {
  border-radius: 4px;
  border-style: none;
  color: $white;
  background-color: $blueBlack;
  font-family: "Poppins", sans-serif;
  min-width: 8rem;
}

@mixin card {
  display: flex;
  flex-direction: column;
}

@mixin hr {
  height: 2px;
  background: $darkGrey;
  width: 85%;
  margin: 0 auto;
}
