@import "../typography";

nav {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
/*   flex-grow: 1; */

  .menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-icons {
    height: 20px;
  }
}