@import "../mixins";
@import "../variables";

.search-result {
  background-color: $white;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 0.75rem;
}
.search-books {
  height: 100%;
  width: 100%;
  /*   margin: 0 auto; */

  .book-list-card {
    // @include result-card;
  }

  .search-image {
    grid-area: image;
    height: 160px;
    width: 120px;
  }

  .no-search-image {
    background-color: $lightBeige;
    max-height: 160px;
    min-width: 120px;
    padding-top: 8px;
    text-align: center;
  }
  .search-title {
    grid-area: title;
  }
  .search-result-description {
    height: 20%;
    overflow: hidden;
  }
  .create-note-button {
    @include button;
    width: 70%;
  }
}
