@import "../mixins";
@import "../variables";

.create-new-entry {
  @include card;
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .hr {
    height: 3px;
    background: $darkGrey;
    margin-bottom: 2em;
    width: 85%;
    margin: 0 auto;
  }
}
