@import "../mixins";
@import "../variables";

.home-view {
  @include card;
  height: 100%;
  width: 100%;
  align-items: center;

  .message-no-entries {
    @include card;
    border-style: solid;
    height: 50%;
    width: 90%;
    justify-content: center;
    align-items: inherit;
  }

  button {
    @include button;
  }
}
