@import "../mixins";
@import "../variables";

.home-view {
  @include card;
  text-align: -webkit-center;
  height: 100%;
  width: 100%;

  .hr {
    height: 3px;
    background: $darkGrey;
    margin-bottom: 3em;
    width: 85%;
    margin: 0 auto;
  }
  .note-container {
    margin-top: 2em;
    padding: 0.5em;
    text-align: left;
    border-radius: 2px;
    background-color: $white;
    width: 90%;
    @include card;

    .note-text {
      background-color: $cremeWhite;
      border-radius: 2px;
      margin-left: 1rem;
    }
    .note-label {
      margin-left: 1rem;
    }
    .note-collapsed {
      height: fit-content;
      width: 90%;
    }
  }

  .message-no-entries {
    @include card;
    height: 50%;
    justify-content: center;
  }
  .note-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .note-button-icon {
      border-bottom: none;
      .icon {
        height: 20px;
        width: 20px;
      }
    }
  }

  button {
    @include button;
    background-color: transparent;
    color: $darkGrey;
    border-bottom: solid 2px $darkGrey;
    border-radius: 0px;
    margin-bottom: 0.75em;
  }
}
