@import "../variables";

.search-results {
  position: relative;
  height: 100%;
  width: 100%;
  /*   margin: 0 auto; */

  .hr {
    height: 3px;
    background: $darkGrey;
    margin-bottom: 3em;
    width: 85%;
    margin: 0 auto;
  }
}
